  body{
    display: flex;
    justify-content: center;
    padding: 200px;
    background-color: rgb(203, 246, 246);
  }
  .container{
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 40%;
    box-shadow: 0 0 15px  rgb(109, 105, 105);
    
  }

  h2{
    margin-top: 15px;
    margin-bottom: 20px;
  }

  label{
    display: block;
    margin: 5px;
  }
  input{
    width: 70%;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px  rgb(109, 105, 105);
  }
  form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
  }
  #btn{
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(77, 238, 77);
    color: white;
    border:1px solid green;
    cursor: pointer;
    box-shadow:0 0 15px  rgb(178, 224, 176); ;
  }
  #btn:hover{
    background-color: rgb(22, 150, 22);

  }

  #result-box{
    background-color:white;
    border-radius: 10px;
    display: none;
    min-height: 50px;
    width:90%;
    margin-bottom: 15px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px  rgb(109, 105, 105);
    margin-left: 0px;
  }
